

        .slider {
            width: 90%;
            margin: 30px auto 50px;
        }

        .slick-slide {
            left: 0;
            right: 0px;
            margin: 20px 0 0 120px;
            padding: auto;
        }

        .slick-slide img {
            width: 100%;
        }

        .slick-prev:before,
        .slick-next:before {
            color: rgb(0, 0, 0);
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }

        .item div {
            width: 100px;
            height: 100px;
            background-color: rgb(122, 119, 119);
            color: rgb(235, 233, 233);
            margin: 5px;
        }

        .slider img{
            width: 100px;
        }
        